@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap" );


:root{
    --grape: #94618E;
    --eggplant:#49274a;
    --sand:#f4decb;
    --shell:#F8EEE7;
}

body {
    font-family: var(--font-family);
    color: var(--grape);
    background-color: var(--sand);
    font-size: 1.2rem;
}

#navcol{
    background-color: var(--grape);
}
button{
    background-color:var(--grape) ;
}

button:hover{
    background-color: var(--eggplant);
  color: var(--shell);
}

a:hover{
    
    color: var(--shell);
    font-size: 2rem;
}